.footer-area{
    
    background-size: cover;
}

.footer-area li{
    padding-bottom: 10px;
}

.social a{
    height: 30px;
    width: 60px;
    color: #1cc7c1;
    background-color: #dee9e8;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    
}
.icons{
    transition: ease-in-out .5s;
    
}.icons:hover{
    transform: scale(.9);
    
}
.copyRight p{
    font-size: 35px;
}
.companyContainer ul li{
    list-style: none;
}
.companyContainer ul li a{
    margin: 5px 0px;
    color: rgb(212, 216, 219);

}